body { padding-top: 70px; font-family: Arial, sans-serif; }

.custom-navbar {
  background: url("../img/faixa.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
  height: 110px;
  display: flex;
  align-items: center;
}

.navbar-brand {
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.nav-link {
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}

.nav-link:hover {
  color: #ffd700 !important; /* cor destaque ao passar o mouse */
}


.custom-navbar .nav-link, .custom-navbar .navbar-brand {
  color: #fff !important;
  font-weight: 600;
}
.custom-navbar .nav-link:hover { 
  color: #000 !important;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
}

/* Carrossel */
.carousel-caption-custom {
  background: linear-gradient(180deg, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
  border-radius: 8px;
  padding: 15px;
}
.carousel-control-custom {
  filter: invert(100%);
}

/* Seções */
.secao { margin-bottom: 2rem; }

/* Calendário */
#calendar {
  max-width: 900px;
  margin: 30px auto;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
